/vendor/
/composer.lock
/debian/debhelper-build-stamp
/debian/flexibee-mailer/
/debian/flexibee-mailer.debhelper.log
/debian/flexibee-mailer.postrm.debhelper
/debian/flexibee-mailer.substvars
/.vagrant/
/nbproject
/debian/files
/debian/.debhelper/
/debian/abraflexi-mailer/
/.env
/debian/abraflexi-mailer.debhelper.log
/debian/abraflexi-mailer.postrm.debhelper
/debian/abraflexi-mailer.substvars
/.phpunit.result.cache
/debian/multiflexi-abraflexi-mailer.debhelper.log
/debian/multiflexi-abraflexi-mailer.substvars
/debian/multiflexi-abraflexi-mailer/

/.vitexsoftware.env
/.spojenet.env
/.php-cs-fixer.cache
