APP_NAME=AbraFlexiMailer
APP_DEBUG=true
MUTE=true

EASE_MAILTO=info@vitexsoftware.cz
## MAIL_DSN uses Symfony mailer DSN format. See: https://symfony.com/doc/current/mailer.html
# Example for SMTP:
MAIL_DSN="smtp://username:password@mail.example.com:587?encryption=tls&auth_mode=plain"

ABRAFLEXI_URL="https://demo.flexibee.eu:5434"
ABRAFLEXI_LOGIN="winstrom"
ABRAFLEXI_PASSWORD="winstrom"
ABRAFLEXI_COMPANY="demo"
ABRAFLEXI_CUSTOMER="demo"

ADD_LOGO=true
ADD_QRCODE=true
MAIL_CC=info@vitexsoftware.cz
MAIL_FROM=office@vitexsoftware.cz

EASE_LOGGER="console|syslog"
SEND_LOCKED=False

