Source: abraflexi-mailer
Build-Depends: debhelper (>= 7.0.50~), jq, moreutils
Standards-Version: 3.8.4
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/php-abraflexi-mailer

Package: abraflexi-mailer
Depends: ${misc:Depends},  php-vitexsoftware-abraflexi-bricks, php-cli, php-vitexsoftware-ease-core (>= 1.38) , php-net-smtp
Suggests: abraflexi-server, abraflexi-client-config, multiflexi
Architecture: all
Section: web
Priority: optional
Description: External mailer for Abra Flexi
 Send AbraFlexi documents and its attachments via email

Package: multiflexi-abraflexi-mailer
Depends: abraflexi-mailer, multiflexi
Architecture: all
Section: web
Priority: optional
Description: Add External mailer for AbraFlexi to MultiFlexi
 Add Mailer's applications into MultiFlexi

